# {{ ansible_managed }}

client {
  enabled = true
  servers = [
{% for host in groups['nomad_servers'] %}
    "{{hostvars[host].ansible_host}}"{{ ',' if not loop.last else '' }}
{% endfor %}
  ]

{% if nomad_host_volumes is defined %}
{% for vol in nomad_host_volumes %}
  host_volume "{{ vol.name }}" {
    path      = "{{ vol.path }}"
    read_only = {{ vol.read_only }}
  }
{% endfor %}
{% endif %}
}

plugin "docker" {
  config {
    allow_privileged = true
    auth {
      config = "/root/.docker/config.json"
    }
    volumes {
      enabled = true
    }
    extra_labels = [ "job_name", "task_group_name", "task_name", "node_name" ]
  }
}
