# {{ ansible_managed }}

[Unit]
Description="HashiCorp Nomad"
Documentation=https://www.nomadproject.io/docs/
Requires=network-online.target
After=network-online.target

{% if nomad_with_consul is defined and nomad_with_consul %}
Wants=consul.service
After=consul.service
{% endif %}

[Service]
# User={{ nomad_user }}
# Group={{ nomad_user }}

ExecStart={{ nomad_binary_path }}/nomad agent -config={{ nomad_config_dir }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
