# {{ ansible_managed }}

datacenter = "{{ nomad_datacenter }}"
name = "{{ inventory_hostname }}"
region = "{{ nomad_region }}"
data_dir = "{{ nomad_data_dir }}"

tls {
  http = true
  rpc  = true

  ca_file   = "{{ nomad_ca_path }}"
  cert_file = "{{ nomad_cert_path }}"
  key_file  = "{{ nomad_cert_key_path }}"

  verify_server_hostname = true
}

advertise {
  http = "{{ ansible_default_ipv4.address }}"
  rpc  = "{{ ansible_default_ipv4.address }}"
  serf = "{{ ansible_default_ipv4.address }}"
}

{% if nomad_with_consul is defined and nomad_with_consul %}
consul {
  token = "{{ nomad_node_consul_token[inventory_hostname] }}"
}
{% endif %}

telemetry {
  collection_interval        = "30s"
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
  use_node_name              = true
}
