# {{ ansible_managed }}

server {
  enabled = true
  bootstrap_expect = {{ groups['nomad_servers'] | length() }}
  authoritative_region = "{{ nomad_authoritative_region }}"
  encrypt = "{{ nomad_encryption_key }}"
}

acl {
  enabled = true
}
