# {{ ansible_managed }}

sources:
  logs:
    type: docker_logs

sinks:
  loki:
    type: loki
    encoding: logfmt
    inputs:
      - logs
    endpoint: 'https://{{ loki_hostname }}'
    auth:
      strategy: basic
      user: '{{ loki_auth_user }}'
      password: '{{ loki_auth_password }}'
    healthcheck:
      enabled: true
    labels:
      job: '{% raw %}{{ source_type }}{% endraw %}'
      label_*: '{% raw %}{{ label }}{% endraw %}'

      # This does not work for some reason
      #
      # nomad_job: '{% raw %}{{ label.com\.hashicorp\.nomad\.job_name }}{% endraw %}'
      # nomad_group: '{% raw %}{{ label.com\.hashicorp\.nomad\.task_group_name }}{% endraw %}'
      # nomad_task: '{% raw %}{{ label.com\.hashicorp\.nomad\.task_name }}{% endraw %}'
      # nomad_node: '{% raw %}{{ label.com\.hashicorp\.nomad\.node_name }}{% endraw %}'

    remove_label_fields: true
