# {{ ansible_managed }}

map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    location / {
{% if service_https_upstream is defined and service_https_upstream %}
        proxy_pass        https://127.0.0.1:{{ service_port }};
        proxy_ssl_verify  off;
{% else %}
        proxy_pass        http://127.0.0.1:{{ service_port }};
{% endif %}
        proxy_buffering   off;

        proxy_set_header  Host               $host;
        proxy_set_header  X-Real-IP          $remote_addr;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto  $scheme;
        proxy_set_header  Upgrade            $http_upgrade;
        proxy_set_header  Connection         $connection_upgrade;

{% if service_auth is defined %}
      auth_basic            "{{ service_hostname }}";
      auth_basic_user_file  {{ nginx_htpasswd_file }};
{% endif %}
    }
    server_name  {{ service_hostname }};

{% if not no_cert is defined or not no_cert %}
    listen 443 ssl;
    ssl_certificate {{ service_cert_dir_path }}/fullchain.pem;
    ssl_certificate_key {{ service_cert_dir_path }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    return  301  https://$host$request_uri;
    listen       80;
{% endif %}
    server_name  {{ service_hostname }};
}
