# {{ ansible_managed }}

user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       {{ nginx_dir }}/mime.types;
    default_type  application/octet-stream;

    access_log            off;
    sendfile              on;
    keepalive_timeout     65;
    gzip                  on;
    client_max_body_size  1G;

    include {{ nginx_config_dir }}/*.conf;
}
