# {{ ansible_managed }}
# https://github.com/grafana/loki/blob/main/cmd/loki/loki-docker-config.yaml
# https://grafana.com/docs/loki/latest/configuration/

auth_enabled: false

server:
  http_listen_port: {{ service_port }}

common:
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

ruler:
  alertmanager_url: http://localhost:9093
