# {{ ansible_managed }}
# Example: https://github.com/prometheus/blackbox_exporter/blob/master/blackbox.yml

modules:
  http_2xx:
    prober: http
    http:
      preferred_ip_protocol: ip4

  tcp_connect:
    prober: tcp

  icmp:
    prober: icmp
